a{
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand {
    color : blueviolet
}

.nav-link:hover {
    color: blue;
    cursor: pointer;
}

.container-fluid, .table, table {
    text-align: left;
    border-collapse: collapse;
}

.table, table th , table td {
    font-family: 'Poppins', sans-serif;
    border : 1px solid #c7ecee;
    padding : 10px;
    min-width: 160pxs
}

.table, table th {
    background-color: lightblue;
    text-align: center;
}

.message-p {
    color : red;
}

.adjust-edit {
    margin-left: 10px;
    color : #32ff7e;
}
.adjust-delete {
    color : #32ff7e;
}
.adjust-edit:hover {
    color : rgb(81, 180, 251);
}
.adjust-delete:hover {
    color : red;
}

.container-fluid button {
   margin-left: 70rem;
   border: #c7ecee;
}