<div class="main">
    <input type="search" placeholder="Search...">
    <fa-icon class="search-icon" (click)="getProductByName(queryName)" [icon]="searchIcon"></fa-icon>
</div>
<p>queryName: {{queryName}}</p>
<section class="sec">
    <div class="products">
      <!--card start-->
      <div class="card">
        <div class="img"><img src="{{data?.productImage}}" alt=""></div>
        <div class="desc">{{data?.description}}</div>
        <div class="title">{{queryName}}</div>
        <div class="box">
          <div class="price">₹{{data?.price}}</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
    </div>
</section>