body {
    background: linear-gradient(to right, #3e8ef6, #a9d8f8);
}

.container {
    width : 50%;
}
.btn-add {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
.card-title{
    color : blueviolet
}
.message-p {
    color : rgb(82, 246, 82);
}