<body>
    <div *ngIf="!showLogin" class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <p class="message-p">{{createdUserMessage}}</p>
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-bold fs-5">Register Now</h5>
              <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInputfirstname" placeholder="firstname" name="fname" ngModel required autofocus>
                  <label for="floatingInputfirstname">Firstname</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputlastname" placeholder="lastname" name="lname" ngModel required autofocus >
                    <label for="floatingInputlastname">Lastname</label>
                  </div>
  
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@mail.com" name="email" ngModel>
                  <label for="floatingInputEmail">Email address</label>
                </div>
  
                <hr>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" ngModel>
                    <label for="floatingPassword">Password</label>
                  </div>
    
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputRole" placeholder="Role" name="role" ngModel>
                    <label for="floatingInputRole">Role</label>
                  </div>
    
                  <div class="d-grid mb-2">
                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit" >Register</button>
                  </div>
    
                  <a class="d-block text-center mt-2 small" (click)="openSignIn()" href="login" >Have an account? Sign In</a>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
  
