body {
    background: linear-gradient(to right, #3e8ef6, #a9d8f8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    width : 80%;
}

@media screen and (min-width: 768px){
    .container {
        width : 50%;
    }
}
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
.message-p{
    color : greenyellow;
    text-align: center;
}