<body>
    <div *ngIf="showLogin" class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-4 p-sm-5">
                        <!--<div class="text-center">
                            <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                        </div>-->
                        <h5 class="card-title text-center mb-5 fw-bold fs-5">SignIn</h5>
                        <p class="emessage-p">{{errorMessage}}</p>
                        <!--<p style="color:lightslategray; text-align: center; ">Please, Enter your login details</p>-->
                        <form  #userLogin="ngForm" (ngSubmit)="signIn(userLogin.value)" >
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@mail.com"   name="email" [(ngModel)]="email" required #floatingInputEmail="ngModel" >
                                <label for="floatingInputEmail" >Email address</label>
                                <div>
                                    <p class="text-danger" *ngIf="floatingInputEmail.invalid && floatingInputEmail.touched">email is required</p>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="password" required #floatingPassword="ngModel">
                                <label for="floatingPassword">Password</label>
                                <div>
                                    <p class="text-danger" *ngIf="floatingPassword.invalid && floatingPassword.touched">password is required</p>
                                </div>
                            </div>
                            <div class="d-grid mb-2">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Sign In</button> 
                            </div>
                            
                           <a class="d-block text-center mt-2 small" (click)="openSignUp()" routerLink="../admin-user">Don't Have account? Sign Up</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


                                
             