 <div class="container-fluid" >
  <section class="content">
    <h1>New Arrivals for all products</h1>
    <p>Get best of best offers and deals on all products</p>
    <button>Shop Now</button>
    <div class="row" style="display:flex; margin-top:-15rem">
  <img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" style="height:50vh;width:30vh; margin-left: 60rem;">
    </div>
  </section>
  <h2 class="phead">Our Latest Product</h2>
  <section class="sec">
    <div class="products">
      <!--card start-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
      <!--card end-->
      <div class="card">
        <div class="img"><img src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpghttps://m.media-amazon.com/images/I/71Ftzmh3XWL._SL1500_.jpg" alt=""></div>
        <div class="desc">Electronics</div>
        <div class="title">Mobile vivo</div>
        <div class="box">
          <div class="price">₹500</div>
          <button class="btn">Buy Now</button>
        </div>
      </div>
    </div>
  </section>
<div class="footer">
<div class="card-footer">
  <p class="text-center">ProductApp ©2023 Bootstrap, New to ProductApp? Visit the homepage.</p>
</div>
</div>
