
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-bold fs-5">Add Product</h5>
              <form #createProduct="ngForm" (ngSubmit)="addProduct(createProduct.value)">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInputTittle" placeholder="name" name="name" [(ngModel)]="name" #floatingInputTittle="ngModel" required >
                  <label for="floatingInputTittle">Name</label>
                  <div>
                    <p  class="text-danger" *ngIf="floatingInputTittle.invalid && floatingInputTittle.touched">name is required</p>
                  </div>
                </div>

                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="floatingInputDescription" placeholder="description" name="description" [(ngModel)]="description" #floatingInputDescription="ngModel" required ></textarea>
                    <label for="floatingInputDescription">Description</label>
                    <div>
                      <p  class="text-danger" *ngIf="floatingInputDescription.invalid && floatingInputDescription.touched">description is required</p>
                    </div>
                </div>
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInputUserId" placeholder="userId" name="userId" [(ngModel)]="userId" #floatingInputUserId="ngModel" required >
                  <label for="floatingInputUserId">UserId</label>
                  <div>
                    <p  class="text-danger" *ngIf="floatingInputUserId.invalid && floatingInputUserId.touched">userId is required</p>
                  </div>
                </div>
  
                <hr>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingProductImage" placeholder="productImage" name="productImage" [(ngModel)]="productImage" #floatingProductImage="ngModel" required>
                    <label for="floatingProductImage">ProductImage</label>
                    <div>
                      <p  class="text-danger" *ngIf="floatingProductImage.invalid && floatingProductImage.touched">productImage is required</p>
                    </div>
                  </div>
    
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInputPrice" placeholder="price" name="price" [(ngModel)]="price" #floatingInputPrice="ngModel" required>
                    <label for="floatingInputPrice">Price</label>
                    <div>
                      <p  class="text-danger" *ngIf="floatingInputPrice.invalid && floatingInputPrice.touched">price is required</p>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInputRating" placeholder="rating" name="rating" [(ngModel)]="rating" #floatingInputRating="ngModel" required>
                    <label for="floatingInputRating">Rating</label>
                    <div>
                      <p  class="text-danger" *ngIf="floatingInputRating.invalid && floatingInputRating.touched">rating is required</p>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputCreatedBy" placeholder="createdBy" name="createdBy" [(ngModel)]="createdBy" #floatingInputCreatedBy="ngModel" required>
                    <label for="floatingInputCreatedBy">CreatedBy</label>
                    <div>
                      <p  class="text-danger" *ngIf="floatingInputCreatedBy.invalid && floatingInputCreatedBy.touched">createdBy is required</p>
                    </div>
                  </div>
    
                  <div class="d-grid mb-2">
                    <button class="btn btn-lg btn-primary btn-add fw-bold text-uppercase" type="submit">AddProduct</button>
                  </div>
    
                  <a class="d-block text-center mt-2 small" href="admin-user">Have an account? Sign In</a>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>


