.navbar-brand {
    color : blueviolet
}

.nav-link:hover {
    color: blue;
    cursor: pointer;
}

.container-fluid, .table, table {
    text-align: left;
    border-collapse: collapse;
}

.table, table th , table td {
    font-family: 'Poppins', sans-serif;
    padding : 10px;
    min-width: 120pxs;
}

.table, table th {
    text-align: center;
}

.message-p {
    color : red;
}

.adjust-edit {
    margin-left: 10px;
    color : blueviolet;
}

.adjust-delete {
    margin-left: 10px;
    color : blueviolet;
}
.adjust-edit:hover {
    color : blue;
}
.adjust-delete:hover {
    color : red;
}
img {
    width : 100px;
    height : 100px;
}
.form-control{
    background-color: #ecf0f1;
    margin-left: 45rem;
}
.container-fluid button {
    border: #c7ecee;
 }
.main{
    width : 330px;
    border : 2px solid blue;
    padding : 04px;
    border-radius: 30px;
}
input {
    background: transparent;
    outline : 0px;
    border : 0px;
    width : 300px
}
input[type]{
    padding-left: 08px;
}
.search-icon{
    padding-right: 2.1px;
}
.add{
    margin-left: 75rem;
}
     