
  <div class="container-fluid table-responsive-sm">
  <div class="buttons">
  <!--<button class="btn-f btn  text-center"><fa-icon class="filter-icon" (click)="getPublishedProduct(queryPublished)" [icon]="filterIcon ">Filter</fa-icon></button>-->
  <button class="btn1 btn btn-primary text-center" routerLink="/user-addproduct">+ AddProduct</button>
  <button class="btn2 btn btn-info text-center" routerLink="/user-upload">UploadCsv</button>
  </div>
  <p class="message-p">{{productMsg}}</p>
  <table class="table table-light table-hover table-striped"style="font-weight:bold;" >
    <thead class="thead-light">
      <tr>
        <th scope="col">ProductImage</th>
        <th scope="col">ProductName</th>
        <th scope="col">Description</th>
        <th scope="col">Published </th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList  | search : searchText">
        <td style="cursor: pointer;" [routerLink]="['/user-view-product/', product._id]" ><img src="{{product.productImage}}"/></td>
        <td >{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.isPublished}}</td>
        <td>{{product.price}}</td>
        <td>{{product.rating}}</td>
        <td>
          <a class="adjust-edit" href="javascript:void(0)" [routerLink]="['/user-edit-product',product._id]"><fa-icon [icon]="editIcon"></fa-icon></a> /<fa-icon class="adjust-delete"(click)="deleteProduct(product._id)" [icon]="icon"></fa-icon> 
          <!--<fa-icon class="adjust-edit" (click)="getPublishedProduct(product.isPublished)" [icon]="filterIcon "></fa-icon> /
           <fa-icon class="adjust-edit" (click)="getProductByName(product.name)" [icon]="searchIcon "></fa-icon> -->
       </td>
      </tr>
    </tbody>
  </table>
</div>
