@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.navbar-brand {
    color :blueviolet
}

.nav-link:hover {
    color: blue;
    cursor: pointer;
}
.nav-link {
    color: black;
}
.container-fluid {
    background-color: whitesmoke;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}
a {
    font-family: 'Roboto Condensed', sans-serif;
}
.active {
    background: white;
    color :blue;
    border-bottom: 2px solid blue;
}